{% extends 'base/new_base.html' %}
{% load i18n %}
{% block content %}
<main class="px-3 mt-5 mb-5 w-100" style="overflow: auto">
    <div class="row mt-5 mb-5 pb-5">
        <div class="col-12">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 mb-2">
                       Сбросить пароль
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}