{% extends 'base/new_base.html' %}
{% block content %}
{% load i18n %}
{% block userlinks %}
<main class="px-3 mt-5" style="height:30em">
    <h1>Ваш пароль успешно изменен</h1>
    <p> <a href="{% url 'catalog:main' %}">На главную</a></p>
    <p class="lead">
        <a href="{% url 'users:user_log_in' %}">На страницу входа</a>
    </p>
</main>
  {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} /
{% endblock %}
{% endblock %}