{% extends 'base/new_base.html' %}
{% block content %}
<main class="px-3 mt-5 mb-5 w-100" style="overflow: auto">
    {% for post in object_list %}
    <div class="row">
        <div class="col-9 mx-auto">
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table table-dark table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="w-25">имя</td>
                            <td>{{ post.name }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">телефон</td>
                            <td>{{ post.phone }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">сообщение</td>
                            <td>{{ post.message }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
<div class="mx-auto mb-5">
    <a class="btn btn-primary" href="/add_contact" role="button">Добавить контакт</a>
</div>
{% endblock %}