{% extends 'base/new_base.html' %}
{% block content %}
<main class="px-3 mt-5" style="height:30em">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text,
        and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        <a href="{% url 'catalog:product_page' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Каталог</a>
    </p>
</main>
{% endblock %}