{% extends 'base/prod.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="box border border-light-subtle m-1">
            <figure>
                <div class="box scenee">
                    <div class="cardss">
                        <div class="cardd backk p-2">
                            <p class="text-dark">{{ object.description | only_100 }}</p>
                        </div>
                        <div class="cardd frontt p-2">
                            <img src="{{ product.img | media_filter }}" class="img-fluid" alt="item">
                        </div>
                    </div>
                </div>
                <figcaption>
                    <hr>
                    <p class="border-light-subtle">{{ object.name }}</p>
                    <hr>
                    <p class="border-light-subtle">{{ object.price }} руб.</p>
                </figcaption>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                {% if user.is_authenticated and user == object.product_owner %}
                <p class="lead mb-0 ms-2 text-dark"><a href="{% url 'catalog:delete_product' object.pk %}"
                                                       class="text-body-emphasis fw-bold ">Удалить</a></p>
                <p class="lead mb-0 ms-2 text-dark"><a href="{% url 'catalog:versions' object.pk %}?id={{object.id}}"
                                                       class="text-body-emphasis fw-bold ">Версии</a></p>
                <p class="lead mb-0 ms-2 text-dark"><a href="{% url 'catalog:product_update' object.pk %}"
                                                       class="text-body-emphasis fw-bold ">Изменить</a></p>
                {% endif %}
            </figure>
        </div>
    </div>
</div>
{% endblock %}